asgiref==3.8.1
asn1crypto==1.5.1
autocommand==2.2.2
babel==2.17.0
bcrypt==4.2.0
blinker==1.9.0
Brlapi==0.8.7
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.3
click==8.1.8
cryptography==43.0.0
cupshelpers==1.0
dbus-python==1.4.0
distro==1.9.0
Flask==3.1.1
gpg==1.24.2
h11==0.14.0
html5lib-modern==1.2
httplib2==0.22.0
idna==3.10
inflect==7.5.0
itsdangerous==2.2.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
kali-tweaks==2023.3.2
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.3
louis==3.33.0
MarkupSafe==2.1.5
mechanize==0.4.10
more-itertools==10.7.0
netifaces==0.11.0
oauthlib==3.3.1
olefile==0.47
onboard==1.4.1
packaging==25.0
pexpect==4.9.0
pillow==11.1.0
psutil==7.0.0
ptyprocess==0.7.0
pyasyncore==1.0.2
PyAudio==0.2.13
pycairo==1.27.0
pycups==2.0.4
PyGObject==3.50.0
pyinotify==0.9.6
PyJWT==2.10.1
pyOpenSSL==25.1.0
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5_sip==12.17.0
pysmbc==1.0.25.1
PySocks==1.7.1
python-apt==3.0.0
python-dotenv==1.0.1
pyxdg==0.28
requests==2.32.4
setproctitle==1.3.6
setuptools==78.1.1
termcolor==3.1.0
torbrowser-launcher==0.3.7
typeguard==4.4.4
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.32.0
uvloop==0.21.0
wadllib==2.0.0
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.46.1
WoeUSB-ng==0.2.12
wsproto==1.2.0
wxPython==4.2.3
xdg==5
zipp==3.21.0
